header nav {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: #E8FFFF;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    header nav {
      justify-content: space-between;
      padding: 1rem 2rem; } }
  header nav #check {
    display: none; }
    header nav #check:checked ~ ul {
      left: 0; }
  header nav .checkbtn {
    display: none; }
    @media only screen and (max-width: 768px) {
      header nav .checkbtn {
        display: block; } }
  header nav .logo {
    font-size: 1.8rem;
    font-weight: bold; }
  header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      header nav ul {
        justify-content: space-evenly;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        background-color: #E8FFFF;
        top: 10vh;
        left: -100%;
        transition: all 0.5s;
        height: 30vh;
        width: 50%; } }
    @media only screen and (max-width: 414px) {
      header nav ul {
        top: 10vh; } }
    header nav ul li {
      display: inline-block;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 768px) {
        header nav ul li {
          display: block;
          margin: 0;
          padding: 0; } }
      header nav ul li a {
        font-size: 1.2rem;
        font-weight: 700;
        text-decoration: none;
        color: #000;
        transition: all .2s; }
        header nav ul li a:hover {
          color: #7878EB; }

main {
  max-width: 1280px;
  margin: 0 auto;
  height: auto;
  width: 100%; }
  @media only screen and (max-width: 1024px) {
    main {
      padding: 0; } }
  main .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; }
    @media only screen and (max-width: 1024px) {
      main .hero {
        flex-direction: column; } }
    @media only screen and (max-height: 768px) {
      main .hero {
        flex-direction: row; } }
    @media only screen and (max-height: 736px) {
      main .hero {
        flex-direction: row; } }
    @media only screen and (max-width: 414px) {
      main .hero {
        flex-direction: column; } }
    main .hero .hero__left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 4rem 1rem;
      height: 40%;
      width: 50%; }
      @media only screen and (max-width: 1024px) {
        main .hero .hero__left {
          height: auto;
          width: 80%; } }
      @media only screen and (max-width: 768px) {
        main .hero .hero__left {
          height: auto;
          width: 100%; } }
      @media only screen and (max-height: 768px) {
        main .hero .hero__left {
          height: auto;
          width: 50%; } }
      @media only screen and (max-width: 414px) {
        main .hero .hero__left {
          height: auto;
          width: 100%; } }
      @media only screen and (max-height: 736px) {
        main .hero .hero__left {
          height: auto;
          width: 100%; } }
      main .hero .hero__left .hero__logo {
        text-decoration: none;
        color: #000;
        padding: 0;
        margin: 0;
        font-size: 4.5rem;
        font-weight: bold;
        height: auto;
        width: 100%; }
        @media only screen and (max-width: 320px) {
          main .hero .hero__left .hero__logo {
            font-size: f 2rem; } }
        @media only screen and (max-width: 768px) {
          main .hero .hero__left .hero__logo {
            font-size: 3.8rem; } }
        @media only screen and (max-height: 736px) {
          main .hero .hero__left .hero__logo {
            font-size: 2.8rem; } }
        @media only screen and (max-height: 320px) {
          main .hero .hero__left .hero__logo {
            font-size: 2.8rem; } }
        @media only screen and (max-width: 414px) {
          main .hero .hero__left .hero__logo {
            font-size: 2rem; } }
        main .hero .hero__left .hero__logo .logo__animation {
          text-transform: uppercase;
          color: #94EAFF;
          font-size: 5.2rem;
          font-weight: bolder;
          animation-name: logo;
          animation-duration: 5s;
          animation-iteration-count: infinite; }
          @media only screen and (max-width: 320px) {
            main .hero .hero__left .hero__logo .logo__animation {
              font-size: f 2.5rem; } }
          @media only screen and (max-width: 768px) {
            main .hero .hero__left .hero__logo .logo__animation {
              font-size: 4.2rem; } }
          @media only screen and (max-height: 736px) {
            main .hero .hero__left .hero__logo .logo__animation {
              font-size: 3.5rem; } }
          @media only screen and (max-width: 414px) {
            main .hero .hero__left .hero__logo .logo__animation {
              font-size: 2.2rem; } }
          @media only screen and (max-height: 320px) {
            main .hero .hero__left .hero__logo .logo__animation {
              font-size: 3.2rem; } }
      main .hero .hero__left .hero__text {
        padding: 1rem 4rem;
        font-size: 1.3rem;
        font-weight: 500;
        cursor: default;
        text-align: start;
        height: auto;
        width: 100%; }
        @media only screen and (max-width: 768px) {
          main .hero .hero__left .hero__text {
            font-size: 1.1rem; } }
        @media only screen and (max-height: 736px) {
          main .hero .hero__left .hero__text {
            font-size: 1rem; } }
        @media only screen and (max-width: 414px) {
          main .hero .hero__left .hero__text {
            font-size: 0.8rem;
            padding: 0; } }
        @media only screen and (max-width: 320px) {
          main .hero .hero__left .hero__text {
            font-size: 0.8rem; } }
      main .hero .hero__left ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        main .hero .hero__left ul .hero__link {
          margin: 1rem;
          text-decoration: none;
          border: none;
          color: white;
          background: #CFBDFF;
          border-bottom: 3px solid #7878EB;
          padding: 0.6rem;
          border-radius: 6px;
          font-size: 1.1rem;
          font-weight: 700;
          text-align: center;
          box-shadow: 1px 2px 5px grey; }
          main .hero .hero__left ul .hero__link:hover {
            opacity: 0.7; }
    main .hero .hero__right {
      display: flex;
      align-items: center;
      padding: 2rem;
      height: auto;
      width: 50%; }
      @media only screen and (max-width: 1024px) {
        main .hero .hero__right {
          height: auto;
          width: 100%; } }
      @media only screen and (max-width: 768px) {
        main .hero .hero__right {
          padding: 0;
          margin-top: 1rem;
          height: auto;
          width: 100%; } }
      @media only screen and (max-height: 768px) {
        main .hero .hero__right {
          height: auto;
          width: 50%; } }
      @media only screen and (max-width: 414px) {
        main .hero .hero__right {
          height: auto;
          width: 100%; } }
      @media only screen and (max-height: 320px) {
        main .hero .hero__right {
          display: none; } }
      main .hero .hero__right .hero__img {
        height: auto;
        width: 100%; }

@keyframes logo {
  0% {
    color: #94EAFF; }
  20% {
    color: #1C89E8; }
  40% {
    color: #5684FF; }
  60% {
    color: #7878EB; }
  80% {
    color: #CFBDFF; } }
  main article {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; }
    @media only screen and (max-width: 1024px) {
      main article {
        height: 100%;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        padding: 1rem; } }
    main article .article__left {
      margin: 0 auto;
      height: auto;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #94EAFF;
      padding: 2rem;
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      cursor: default; }
      @media only screen and (max-width: 1024px) {
        main article .article__left {
          height: auto;
          width: 70%;
          border-top-right-radius: 18px;
          border-bottom-left-radius: 0;
          padding: 2rem; } }
      @media only screen and (max-width: 768px) {
        main article .article__left {
          height: auto;
          width: 60%; } }
      @media only screen and (max-width: 414px) {
        main article .article__left {
          height: auto;
          width: 80%;
          padding: 1rem; } }
      main article .article__left .article__title {
        margin: 0;
        padding: 1rem;
        font-weight: 700;
        text-align: center; }
        @media only screen and (max-width: 1024px) {
          main article .article__left .article__title {
            padding: 0.5rem;
            font-size: 1.3rem; } }
      main article .article__left .article__text {
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
        text-align: start; }
        @media only screen and (max-width: 1024px) {
          main article .article__left .article__text {
            padding: 0;
            font-size: 0.9rem; } }
        @media only screen and (max-width: 414px) {
          main article .article__left .article__text {
            padding: 0; } }
    main article .article__right {
      margin: 0 auto;
      height: auto;
      width: 70%;
      padding: 2rem;
      background: #1C89E8;
      border-radius: 18px;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 768px) {
        main article .article__right {
          padding: 1rem;
          height: auto;
          width: 90%; } }
      @media only screen and (max-width: 1024px) {
        main article .article__right {
          height: auto;
          width: 90%;
          padding: 1rem; } }
      @media only screen and (max-width: 414px) {
        main article .article__right {
          height: auto;
          width: 100%;
          flex-wrap: wrap;
          padding: 0; } }
      @media only screen and (max-width: 320px) {
        main article .article__right {
          padding: 0; } }
      main article .article__right video {
        height: auto;
        width: 100%;
        padding: 2rem; }
        @media only screen and (max-width: 414px) {
          main article .article__right video {
            padding: 1rem; } }
      main article .article__right .article__card {
        height: auto;
        width: 50%;
        padding: 2rem;
        cursor: default; }
        @media only screen and (max-width: 768px) {
          main article .article__right .article__card {
            padding: 1rem; } }
        @media only screen and (max-width: 1024px) {
          main article .article__right .article__card {
            padding: 1rem; } }
        @media only screen and (max-width: 414px) {
          main article .article__right .article__card {
            height: auto;
            width: 100%; } }
        main article .article__right .article__card img {
          height: auto;
          width: 100%;
          border-radius: 17.25px; }
        main article .article__right .article__card .card__body {
          background: #fff;
          padding: 2rem;
          margin: 0 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 17.25px;
          transform: translateY(-20px); }
          @media only screen and (max-width: 768px) {
            main article .article__right .article__card .card__body {
              padding: 1rem; } }
          @media only screen and (max-width: 1024px) {
            main article .article__right .article__card .card__body {
              padding: 1rem; } }
          @media only screen and (max-width: 320px) {
            main article .article__right .article__card .card__body {
              padding: 0.2rem 0.5rem; } }
          main article .article__right .article__card .card__body .card__title {
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            height: 3rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            @media only screen and (max-width: 768px) {
              main article .article__right .article__card .card__body .card__title {
                padding: 0; } }
            @media only screen and (max-width: 320px) {
              main article .article__right .article__card .card__body .card__title {
                font-size: 1.2rem; } }
          main article .article__right .article__card .card__body .card__text {
            padding: 1rem;
            font-size: 0.9rem;
            text-align: start; }
            @media only screen and (max-width: 320px) {
              main article .article__right .article__card .card__body .card__text {
                font-size: 0.8rem; } }
          main article .article__right .article__card .card__body .card__button {
            margin: 0.5rem;
            text-decoration: none;
            border: none;
            color: white;
            background: #CFBDFF;
            border-bottom: 3px solid #7878EB;
            padding: 0.6rem;
            border-radius: 6px;
            font-size: 1.1rem;
            font-weight: 700;
            text-align: center;
            box-shadow: 1px 2px 5px grey; }
            main article .article__right .article__card .card__body .card__button:hover {
              opacity: 0.7; }
            @media only screen and (max-width: 768px) {
              main article .article__right .article__card .card__body .card__button {
                padding: 0.5rem; } }
      main article .article__right .card__profile {
        margin: 0 auto;
        height: 20rem;
        width: 30%;
        border-radius: 10px;
        background: url("/multimedia/img-4.jpg") no-repeat;
        background-size: 20rem;
        transition: .8s;
        padding: 10px; }
        @media only screen and (max-width: 768px) {
          main article .article__right .card__profile {
            height: 15rem;
            width: 30%;
            background-size: 15rem; } }
        @media only screen and (max-width: 414px) {
          main article .article__right .card__profile {
            height: 20rem;
            width: 100%;
            background-size: 25rem;
            margin: 1rem 2rem; } }
        @media only screen and (max-width: 320px) {
          main article .article__right .card__profile {
            background-size: 20rem; } }
        main article .article__right .card__profile:hover {
          background: url("/multimedia/img-4.jpg") no-repeat;
          background-size: 25rem; }
          @media only screen and (max-width: 768px) {
            main article .article__right .card__profile:hover {
              background-size: 20rem; } }
          @media only screen and (max-width: 414px) {
            main article .article__right .card__profile:hover {
              background-size: 30rem; } }
          @media only screen and (max-width: 320px) {
            main article .article__right .card__profile:hover {
              background-size: 25rem; } }
        main article .article__right .card__profile .card__border {
          height: 100%;
          width: 100%;
          border: solid 2px white;
          border-radius: 10px;
          opacity: 0;
          transition: .8s;
          display: flex;
          justify-content: start;
          align-items: start;
          flex-direction: column; }
          main article .article__right .card__profile .card__border:hover {
            opacity: 1; }
          main article .article__right .card__profile .card__border h5 {
            height: 4rem;
            width: 50%;
            padding: 2px 8px;
            font-weight: 700;
            font-size: 1.5rem;
            color: white;
            cursor: default; }
            @media only screen and (max-width: 768px) {
              main article .article__right .card__profile .card__border h5 {
                height: 3rem;
                width: 50%;
                font-size: 1.2rem; } }
            @media only screen and (max-width: 414px) {
              main article .article__right .card__profile .card__border h5 {
                height: 4rem;
                width: 50%;
                font-size: 1.5rem; } }
          main article .article__right .card__profile .card__border p {
            padding: 0 8px;
            font-weight: 600;
            color: white;
            cursor: default;
            font-size: 1rem; }
            @media only screen and (max-width: 768px) {
              main article .article__right .card__profile .card__border p {
                font-size: 0.8rem; } }
            @media only screen and (max-width: 414px) {
              main article .article__right .card__profile .card__border p {
                font-size: 1rem; } }
        main article .article__right .card__profile .icons {
          display: flex;
          justify-content: space-evenly;
          align-items: start;
          flex-direction: column; }
          main article .article__right .card__profile .icons a {
            padding: 0 8px;
            color: #fff;
            font-size: 1.5rem;
            text-decoration: none;
            transition: .5s; }
            main article .article__right .card__profile .icons a:hover:nth-child(1) {
              color: #3b5998; }
            main article .article__right .card__profile .icons a:hover:nth-child(2) {
              color: #0e76a8; }
            main article .article__right .card__profile .icons a:hover:nth-child(3) {
              color: #C13584; }
            main article .article__right .card__profile .icons a:hover:nth-child(4) {
              color: #00acee; }
  main section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
    @media only screen and (max-width: 1024px) {
      main section {
        height: 100%;
        width: 100%; } }
    @media only screen and (max-width: 768px) {
      main section {
        height: 100vh;
        width: 100%; } }
    main section .search__section {
      margin: 0;
      padding-top: 3rem;
      background-color: #fff;
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      main section .search__section form {
        margin: 0 auto;
        padding: 10px;
        background-color: #fff;
        height: auto;
        width: 40%; }
        @media only screen and (max-width: 768px) {
          main section .search__section form {
            height: auto;
            width: 50%; } }
        @media only screen and (max-width: 414px) {
          main section .search__section form {
            height: auto;
            width: 100%; } }
        main section .search__section form fieldset {
          border: 3px solid #7878EB;
          border-radius: 6px;
          padding: 6px;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          main section .search__section form fieldset:hover {
            border: 3px solid #1C89E8;
            box-shadow: 0px 2px 5px 0px grey; }
            main section .search__section form fieldset:hover button {
              background-color: #1C89E8; }
          main section .search__section form fieldset input {
            outline: none;
            border-radius: 6px;
            border: none;
            height: auto;
            width: 100%; }
          main section .search__section form fieldset button {
            border: none;
            background-color: #7878EB;
            color: #fff;
            padding: 5px;
            border-radius: 6px; }
            main section .search__section form fieldset button:hover {
              opacity: 0.7; }
    main section .carousel {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      cursor: default;
      height: auto;
      width: 70%; }
      @media only screen and (max-width: 768px) {
        main section .carousel {
          height: auto;
          width: 100%; } }
      main section .carousel .carousel--img {
        margin-bottom: 2rem;
        height: 100%;
        width: 50%; }
      main section .carousel .bg__modal {
        background-color: #fff;
        padding: 0;
        padding-top: 10px; }
      main section .carousel .carousel__oferta {
        color: grey;
        text-decoration: line-through;
        font-size: 0.8rem; }
    main section .shopping__info {
      height: auto;
      width: 100%;
      margin: 1rem 0;
      padding: 0; }
      main section .shopping__info ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px; }
        @media only screen and (max-width: 414px) {
          main section .shopping__info ul {
            gap: 0; } }
        main section .shopping__info ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          main section .shopping__info ul li h4 {
            background-color: #94EAFF;
            padding: 1rem 2rem;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            margin: 0; }
            @media only screen and (max-width: 414px) {
              main section .shopping__info ul li h4 {
                padding: 1rem 1.2rem; } }
          main section .shopping__info ul li p {
            background-color: #1C89E8;
            padding: 1rem;
            border-radius: 18px;
            margin: 0;
            cursor: default;
            height: 6rem;
            width: 12rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            font-weight: bold; }
            @media only screen and (max-width: 414px) {
              main section .shopping__info ul li p {
                height: 6rem;
                width: 7rem;
                font-size: 0.9rem; } }
            @media only screen and (max-width: 320px) {
              main section .shopping__info ul li p {
                height: 7.5em;
                width: 5.5rem; } }
  main .catalogo {
    height: auto;
    width: 100%;
    margin: 1rem 0;
    padding: 0; }
    main .catalogo .container__post {
      display: flex;
      margin: 0;
      padding: 0; }
      @media only screen and (max-width: 768px) {
        main .catalogo .container__post {
          flex-direction: column; } }
      main .catalogo .container__post input[type="radio"] {
        display: none; }
      main .catalogo .container__post [value="procesador"]:checked ~ .posts .post:not([data-category~="procesador"]) {
        display: none; }
      main .catalogo .container__post [value="tarjeta-grafica"]:checked ~ .posts .post:not([data-category~="tarjeta-grafica"]) {
        display: none; }
      main .catalogo .container__post [value="memoria-ram"]:checked ~ .posts .post:not([data-category~="memoria-ram"]) {
        display: none; }
      main .catalogo .container__post [value="fuente-alimentacion"]:checked ~ .posts .post:not([data-category~="fuente-alimentacion"]) {
        display: none; }
      main .catalogo .container__post [value="placa-base"]:checked ~ .posts .post:not([data-category~="placa-base"]) {
        display: none; }
      main .catalogo .container__post .container__category {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        flex-direction: column;
        margin: 1rem 0;
        padding: 0;
        height: auto;
        width: 30%; }
        @media only screen and (max-width: 768px) {
          main .catalogo .container__post .container__category {
            height: auto;
            width: 100%;
            position: sticky;
            left: 0;
            right: 0;
            top: 10vh;
            z-index: 998; } }
        main .catalogo .container__post .container__category summary {
          text-transform: uppercase;
          font-size: 1.5rem;
          padding: 10px 20px; }
        main .catalogo .container__post .container__category label {
          cursor: pointer;
          transition: all 0.4s;
          font-size: 1.3rem;
          height: auto;
          width: 100%; }
          @media only screen and (max-width: 1024px) {
            main .catalogo .container__post .container__category label {
              font-size: 1.1rem; } }
          main .catalogo .container__post .container__category label:hover {
            text-decoration: underline;
            text-transform: uppercase;
            margin-left: 0.8rem; }
      main .catalogo .container__post .posts {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        height: auto;
        width: 70%; }
        @media only screen and (max-width: 1024px) {
          main .catalogo .container__post .posts {
            grid-template-columns: repeat(3, 1fr);
            height: auto;
            width: 70%; } }
        @media only screen and (max-width: 768px) {
          main .catalogo .container__post .posts {
            grid-template-columns: 1fr 1fr;
            gap: 0;
            height: auto;
            width: 100%; } }
        @media only screen and (max-width: 414px) {
          main .catalogo .container__post .posts {
            grid-template-columns: 1fr;
            height: auto;
            width: 100%;
            gap: 0; } }
        main .catalogo .container__post .posts .post {
          margin: 0;
          padding: 1rem;
          cursor: default; }
          @media only screen and (max-width: 414px) {
            main .catalogo .container__post .posts .post {
              display: flex;
              padding: 1rem;
              height: auto;
              width: 100%; } }
          @media only screen and (max-width: 768px) {
            main .catalogo .container__post .posts .post {
              display: flex;
              height: auto;
              width: 100%; } }
          main .catalogo .container__post .posts .post:hover .post__img, main .catalogo .container__post .posts .post:hover .post__description {
            box-shadow: 0px 2px 5px 0px grey; }
          main .catalogo .container__post .posts .post .post__img {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1C89E8;
            padding: 1rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: auto;
            width: 100%; }
            @media only screen and (max-width: 414px) {
              main .catalogo .container__post .posts .post .post__img {
                border-top-right-radius: 0;
                border-bottom-left-radius: 10px; } }
            @media only screen and (max-width: 768px) {
              main .catalogo .container__post .posts .post .post__img {
                border-top-right-radius: 0;
                border-bottom-left-radius: 10px; } }
            main .catalogo .container__post .posts .post .post__img .post__modal {
              border: none;
              background: none; }
              main .catalogo .container__post .posts .post .post__img .post__modal img {
                height: auto;
                width: 100%;
                margin: 0 auto;
                padding: 0.5rem;
                transition: all 0.3s; }
                main .catalogo .container__post .posts .post .post__img .post__modal img:hover {
                  padding: 0; }
            main .catalogo .container__post .posts .post .post__img .modal-body .modal__description {
              display: flex;
              justify-content: center;
              align-items: center; }
              @media only screen and (max-width: 320px) {
                main .catalogo .container__post .posts .post .post__img .modal-body .modal__description {
                  flex-direction: column; } }
              main .catalogo .container__post .posts .post .post__img .modal-body .modal__description img {
                height: auto;
                width: 50%; }
              main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date {
                padding: 1rem;
                height: auto;
                width: 50%; }
                @media only screen and (max-width: 320px) {
                  main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date {
                    height: auto;
                    width: 100%; } }
                main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date .star-rating {
                  color: #EBEA17;
                  padding: 0;
                  margin: 0.5rem 0; }
                main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date .price {
                  font-size: 2rem;
                  font-weight: 700;
                  padding: 0;
                  margin: 0; }
                main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date select {
                  border: 2px solid #7878EB;
                  border-radius: 4px;
                  outline: none;
                  font-size: 1rem; }
                  @media only screen and (max-width: 414px) {
                    main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date select {
                      font-size: 0.8rem; } }
                main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date ul {
                  list-style: none;
                  padding: 0;
                  margin: 1rem 0; }
                  main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date ul li {
                    color: #22D658; }
                    main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date ul li i {
                      margin: 3px; }
                    main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date ul li span {
                      font-size: 0.8rem; }
                      @media only screen and (max-width: 414px) {
                        main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date ul li span {
                          font-size: 0.6rem; } }
                main .catalogo .container__post .posts .post .post__img .modal-body .modal__description .modal__date .description {
                  font-size: 0.9rem;
                  height: auto;
                  width: 100%; }
            main .catalogo .container__post .posts .post .post__img .modal__btn {
              text-decoration: none;
              border: none;
              color: white;
              background: #CFBDFF;
              border-bottom: 3px solid #7878EB;
              padding: 0.6rem;
              border-radius: 6px;
              font-size: 1.1rem;
              font-weight: 700;
              text-align: center;
              box-shadow: 1px 2px 5px grey; }
              main .catalogo .container__post .posts .post .post__img .modal__btn:hover {
                opacity: 0.7; }
          main .catalogo .container__post .posts .post .post__description {
            margin: 0;
            padding: 1rem;
            border: 3px solid #1C89E8;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: auto;
            width: 100%; }
            @media only screen and (max-width: 414px) {
              main .catalogo .container__post .posts .post .post__description {
                border-bottom-left-radius: 0;
                border-top-right-radius: 10px; } }
            @media only screen and (max-width: 768px) {
              main .catalogo .container__post .posts .post .post__description {
                border-bottom-left-radius: 0;
                border-top-right-radius: 10px;
                transform: translateX(-3px); } }
            main .catalogo .container__post .posts .post .post__description h4 {
              font-size: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-weight: 700;
              height: 3rem;
              width: 100%; }
              @media only screen and (max-width: 320px) {
                main .catalogo .container__post .posts .post .post__description h4 {
                  font-size: 0.8rem; } }
            main .catalogo .container__post .posts .post .post__description span {
              font-size: 2rem;
              font-weight: 900; }
              @media only screen and (max-width: 320px) {
                main .catalogo .container__post .posts .post .post__description span {
                  font-size: 1.5rem; } }
            main .catalogo .container__post .posts .post .post__description .post__btn {
              margin-top: 1rem;
              text-decoration: none;
              border: none;
              color: white;
              background: #CFBDFF;
              border-bottom: 3px solid #7878EB;
              padding: 0.6rem;
              border-radius: 6px;
              font-size: 1.1rem;
              font-weight: 700;
              text-align: center;
              box-shadow: 1px 2px 5px grey; }
              main .catalogo .container__post .posts .post .post__description .post__btn:hover {
                opacity: 0.7; }
              @media only screen and (max-width: 320px) {
                main .catalogo .container__post .posts .post .post__description .post__btn {
                  font-size: 0.8rem; } }
  main .carrito {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
    height: 100vh;
    width: 80%; }
    @media only screen and (max-width: 414px) {
      main .carrito {
        height: 100vh;
        width: 90%; } }
    main .carrito .carrito__contador {
      font-size: 3rem;
      font-weight: 700; }
      @media only screen and (max-width: 414px) {
        main .carrito .carrito__contador {
          font-size: 2rem; } }
    main .carrito .carrito__text {
      font-size: 1.5rem; }
      @media only screen and (max-width: 414px) {
        main .carrito .carrito__text {
          font-size: 0.9rem; } }
      main .carrito .carrito__text a {
        text-decoration: none;
        color: #7878EB; }
        main .carrito .carrito__text a:hover {
          text-decoration: underline; }
  main .user {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
    height: 100vh;
    width: 100%; }
    main .user .form {
      border-radius: 18px;
      height: auto;
      width: 50%; }
      @media only screen and (max-width: 1024px) {
        main .user .form {
          height: auto;
          width: 70%; } }
      @media only screen and (max-height: 736px) {
        main .user .form {
          height: auto;
          width: 100%; } }
      @media only screen and (max-width: 414px) {
        main .user .form {
          height: auto;
          width: 100%; } }
      main .user .form .form__title {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        background-color: #1C89E8;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        padding: 2rem;
        font-weight: 800;
        color: #fff; }
        @media only screen and (max-height: 736px) {
          main .user .form .form__title {
            padding: 1rem; } }
        @media only screen and (max-width: 414px) {
          main .user .form .form__title {
            font-size: 1.4rem;
            padding: 1.5rem; } }
      main .user .form .form__user {
        text-align: center;
        border: solid 2px #1C89E8;
        padding: 1rem;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 100%; }
        @media only screen and (max-height: 736px) {
          main .user .form .form__user {
            flex-direction: row;
            flex-wrap: wrap; } }
        @media only screen and (max-width: 414px) {
          main .user .form .form__user {
            padding: 1rem;
            flex-direction: column; } }
        @media only screen and (max-width: 320px) {
          main .user .form .form__user {
            padding: 0; } }
        main .user .form .form__user p {
          height: auto;
          width: 100%;
          margin: 0.8rem 0;
          font-size: 0.9rem; }
          @media only screen and (max-height: 736px) {
            main .user .form .form__user p {
              margin: 0.5rem 0; } }
          main .user .form .form__user p a {
            text-decoration: none;
            color: #7878EB; }
            main .user .form .form__user p a:hover {
              text-decoration: underline; }
        main .user .form .form__user .login__with {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 1rem;
          height: auto;
          width: 100%; }
          @media only screen and (max-height: 736px) {
            main .user .form .form__user .login__with {
              height: auto;
              width: 30%;
              flex-direction: column; } }
          main .user .form .form__user .login__with .login__fb {
            background-color: #4267b2;
            height: 50px;
            width: 150px;
            text-align: center;
            color: #fff;
            border: none;
            border-radius: 4px;
            margin: 0.2rem;
            padding: 0;
            box-shadow: 1px 2px 3px grey; }
            main .user .form .form__user .login__with .login__fb:hover {
              opacity: 0.7; }
            @media only screen and (max-height: 320px) {
              main .user .form .form__user .login__with .login__fb {
                height: 50px;
                width: 100px; } }
          main .user .form .form__user .login__with .login__g {
            background-color: #dc3545;
            height: 50px;
            width: 150px;
            text-align: center;
            color: #fff;
            border: none;
            border-radius: 4px;
            margin: 0.2rem;
            padding: 0;
            box-shadow: 1px 2px 3px grey; }
            main .user .form .form__user .login__with .login__g:hover {
              opacity: 0.7; }
            @media only screen and (max-height: 320px) {
              main .user .form .form__user .login__with .login__g {
                height: 50px;
                width: 100px; } }
        main .user .form .form__user .login__user {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: auto;
          width: 100%; }
          @media only screen and (max-height: 736px) {
            main .user .form .form__user .login__user {
              height: auto;
              width: 70%; } }
          main .user .form .form__user .login__user .form__inputs {
            margin: 3px auto;
            padding: 10px;
            border: none;
            border-radius: 6px;
            border-bottom: solid 2px grey;
            outline: none;
            font-size: 0.9rem;
            color: #000;
            height: auto;
            width: 70%; }
            main .user .form .form__user .login__user .form__inputs:focus {
              border-bottom: solid 2px #1C89E8;
              font-weight: 800; }
            @media only screen and (max-height: 736px) {
              main .user .form .form__user .login__user .form__inputs {
                height: auto;
                width: 100%; } }
          main .user .form .form__user .login__user .form__boton {
            margin: 0.5rem;
            text-decoration: none;
            border: none;
            color: white;
            background: #CFBDFF;
            border-bottom: 3px solid #7878EB;
            padding: 0.6rem;
            border-radius: 6px;
            font-size: 1.1rem;
            font-weight: 700;
            text-align: center;
            box-shadow: 1px 2px 5px grey;
            height: auto;
            width: 12rem; }
            main .user .form .form__user .login__user .form__boton:hover {
              opacity: 0.7; }
  main .boton__ws {
    position: fixed;
    z-index: 999;
    bottom: 4rem;
    right: 4rem; }
    @media only screen and (max-width: 414px) {
      main .boton__ws {
        bottom: 2rem;
        right: 2rem; } }
    main .boton__ws button {
      border: none;
      background-color: #4FCE5D;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      font-size: 1.5rem;
      color: #fff; }
      main .boton__ws button:hover {
        background-color: #435A64; }

footer {
  background-color: #EBEBEB;
  cursor: default;
  padding: 1rem;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 414px) {
    footer {
      flex-direction: column; } }
  footer h2 {
    font-weight: 700;
    font-size: 2.7rem;
    text-align: center; }
    @media only screen and (max-width: 414px) {
      footer h2 {
        font-size: 1.8rem; } }
  footer ul {
    list-style: none; }
    footer ul li a {
      text-decoration: none;
      color: #000;
      display: flex;
      justify-content: start;
      align-items: center;
      transition: .4s; }
      footer ul li a:hover {
        color: #7878EB; }
      footer ul li a i {
        padding: 1rem;
        font-size: 1.8rem; }
        @media only screen and (max-width: 414px) {
          footer ul li a i {
            padding: 0.2rem 0.5rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

html {
  scroll-behavior: smooth; }

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F0F7F9; }

body::-webkit-scrollbar-thumb {
  background-color: #7878EB;
  border-radius: 6px; }
