footer {
    background-color: #EBEBEB;
    cursor: default;
    padding: 1rem;
    @include box(100%, 100%);
    @include flex(space-evenly, center);
    @include mobile {
        flex-direction: column;
    }
    @include small-mobile-rotate {
        padding: .5rem;
    }

    // Footer Titulo

    h2 {
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
        @include mobile {
            font-size: 1.3rem;
        }

    }

    // Footer links

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {

            a {
                text-decoration: none;
                color: #000;
                @include flex(start,center);
                transition: .4s;

                &:hover {
                    color: $color3;

                }

                i {
                    padding: 1rem;
                    font-size: 1.8rem;
                    @include mobile {
                        padding: 0.2rem 0.5rem;
                    }
                    @include small-mobile {
                        font-size: 1.2rem;
                    }

                }

            }

        }

    }

}