footer {
    background-color: #EBEBEB;
    cursor: default;
    padding: $p__content;
    @include box__size(auto, 100%);
    @include flex(space-evenly, center);
    @include mobile {
        flex-direction: column;
    }

    // Footer Titulo

    h2 {
        font-weight: $f__weight;
        font-size: $f__title * 1.5;
        text-align: center;
        @include mobile {
            font-size: $f__title;
        }

    }

    // Footer links

    ul {
        list-style: none;

        li {

            a {
                text-decoration: none;
                color: #000;
                @include flex(start,center);
                transition: .4s;

                &:hover {
                    color: $color4;

                }

                i {
                    padding: $p__content;
                    font-size: $f__title;
                    @include mobile {
                        padding: 0.2rem 0.5rem;
                    }

                }

            }

        }

    }

}