header {
    max-width: 1280px;
    margin: 0 auto;

    nav {
        margin: 0;
        padding: 0;
        background-color: $color7;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
        @include box__size(80px, 100%);
        @include flex(space-evenly, center);
        @include tablet {
            @include box__size(60px, 100%);
            justify-content: space-between;
            padding: 1rem 2rem;
        }
        @include mobile {
            @include box__size(40px, 100%);
        }


        #check {
            display: none;
            
            &:checked ~ ul{
                left: 0;

            }

        }

        .checkbtn {
            display: none;
            @include tablet {
                display: block;

            }

        }

        .logo {
            font-size: $f__title;
            font-weight: bold;

        }

        ul {
            padding: 0;
            margin: 0;
            @include flex(space-between, center);
            @include tablet {
                justify-content: space-evenly;
                flex-direction: column;
                position: fixed;
                z-index: 999;
                background-color: $color7;
                top: 60px;
                left: -100%;
                transition: all 0.5s;
                @include box__size(30vh, 50%);
            }
            @include mobile {
                top: 40px;
            }

            li {
                display: inline-block;
                padding: $p__box;
                @include flex(center, center);
                @include tablet {
                    display: block;
                    margin: 0;
                    padding: 0;

                }

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: $f__size + 0.20;
                    font-weight: $f__weight;

                    &:hover {
                        color: $color4;

                    }
    
                }
    
            }


        }      

    }
    
}



