header {

    nav {
        max-width: 1280px;
        @include box__size(80px, 100%);
        @include flex(space-evenly, center);
        background-color: #fff;
        position: fixed;
        margin: 0 auto;
        padding: 0;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
        @include mobile {
            @include box__size(50px, 100%);

        }
        @include small-mobile {
            @include box__size(40px, 100%);
        }

        h1 {
            font-size: $f__size * 1.5;
            font-weight: $f__weight + 100;
            padding: 0;
            margin: 0;

        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            @include flex(center, center);

            li {

                a {
                    text-decoration: none;
                    font-size: $f__size * 1.5;
                    font-weight: $f__weight;
                    margin: 0;
                    padding: 0 6px;
                    color: #000;

                    &:hover {
                        color: $color4;

                    }

                }

            }

        }

    }

}



