header {
    
    #menu {
        display: none;
        
        &:checked ~ nav {
            right: 0;
            .menu__user {
                @include transition-right-to-left-fast;

            }

            .menu__nav {
                @include transition-right-to-left-low;
                
            }
            
        }
        
    }
    
    label {
        @include box__size(4rem, 4rem);
        @include flex(center, center);
        background-color: $color3;
        border-radius: 50%;
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 999;
        cursor: pointer;
        @include small-mobile {
            @include box__size(2.5rem, 2.5rem);

        }
        
        i {
            font-size: 1.5rem;
            color: white;
            @include small-mobile {
                font-size: 1rem;

            }
            
        }
        
    }
    
    nav {
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: 998;
        right: -100%;
        transition: all .5s;
        @include box__size(100vh, calc(100vw - 10px));
        @include flex(center, center);
        @include desktop {
            @include box__size(100vh, 100vw);
        }
        @include mobile {
            flex-direction: column;
        }
        @include gradient;


        .menu__user {
            padding: 0;
            margin: 0;
            list-style: none;
            @include flex(center, center);
            flex-direction: column;
            transition: all .5s;
            @include box__size(100%, 50%);
            @include tablet {
                @include box__size(100%, 30%);
                
            }
            @include mobile {
                @include box__size(40%, 100%);
                justify-content: center;

            }

            li {
                
                a {
                    text-decoration: none;
                    color: #000;
                    font-size: $f__size;
                    padding: 0.8rem;
                    display: block;
                    @include mobile {
                        padding: 0.5rem;
                        
                    }
                    @include small-mobile {
                        padding: 0.2rem;

                    }

                    &:hover {
                        color: $color3;

                    }

                    img {
                        @include box__size(3rem, 3rem);
                        border-radius: 50%;
                        border: 3px solid $color3;
                        text-align: center;
        
                    }

                }

            }

        }

        .menu__nav {
            padding: 0;
            margin: 0;
            list-style: none;
            @include flex(center, center);
            flex-direction: column;
            transition: all .5s;
            @include box__size(100%, 50%);
            @include tablet {
                @include box__size(100%, 70%);

            }
            @include mobile {
                @include box__size(60%, 100%);
                justify-content: end;

            }

            li {

                a {
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #000;
                    font-size: 3rem;
                    font-weight: 900;
                    padding: 2.5rem;
                    @include tablet {
                        font-size: 2.5rem;
                        padding: 2rem 0;

                    }
                    @include mobile {
                        padding: 1rem;

                    }
                    @include small-mobile {
                        font-size: 2rem;
                        padding: 0.5rem;

                    }

                    &:hover {
                        color: $color3;

                    }

                }

            }

        }
        
    }
        
}





