main {
    max-width: 1366px;
    margin: 0 auto; 
    @include box__size(auto, 100%);
    @include tablet-rotate {
        padding: 0 1rem;
    }
    @include mobile-rotate {
        padding: 0;
    }
    
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        @include box__size(calc(90vh), 100%);
        @include tablet {
            flex-direction: column;

        }
        @include mobile-rotate {
            @include box__size(90vh, 100%);
            flex-direction: row;

        }
        @include mobile {
            flex-direction: column;

        }
    
        .hero__left {
            display: flex;
            align-items: center;
            padding: $p__box * 2;
            @include box__size(auto, 50%);
            @include tablet {
                padding: $p__box - 1;
                text-align: center;
                @include box__size(auto, 80%);
            }
            @include mobile {
                @include box__size(auto, 100%);
            }
    
            .hero__logo {
                text-decoration: none;
                color: #000;
                padding: $p__content;
                font-size: $f__size * 5;
                font-weight: $f__weight;
                @include box__size(auto, 100%);
                @include small-mobile {
                    font-size: f$f__size * 2;
                }   
                @include tablet {
                    padding: 0;
                    font-size: $f__size * 3.8;
                }
                @include small-mobile-rotate {
                    font-size: $f__size * 2.8;
                    
                }
                @include mobile {
                    font-size: $f__size * 3;
                }
                
                .logo__animation {
                    text-transform: uppercase;
                    color: $color1;
                    font-size: $f__size * 5.5;
                    animation-name: logo;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    @include small-mobile {
                        font-size: f$f__size * 2.5;
                    }  
                    @include mobile {
                        font-size: $f__size * 3.5;
                    }
                    @include tablet {
                        font-size: $f__size * 4.2;
                    }
                    @include mobile-rotate {
                        font-size: $f__size * 3.5;
                    }
                    @include small-mobile-rotate {
                        font-size: $f__size * 3.2;
                    }
    
                }
    
            }
    
            .hero__text {
                padding: $p__content;
                font-size: $f__size + 0.30;
                font-weight: $f__weight - 200;
                cursor: default;
                @include tablet {
                    font-size: $f__size + 0.10;

                }
                @include mobile-rotate {
                    font-size: $f__size;
                    padding: 0;

                }
                @include mobile {
                    font-size: $f__size - 0.10;
                    padding: $p__content;

                }
                @include small-mobile {
                    font-size: $f__size - 0.20;
                    
                }

            }
    
            .hero__link {
                margin-left: 1rem;
                margin-top: 1rem;
                @include boton--primary;
                @include tablet {
                    margin: 0;
                    font-size: $f__size - 0.10;
                }

            }

        }
    
        .hero__right {
            display: flex;
            align-items: center;
            padding: $p__box * 2;
            @include box__size(auto, 50%);
            @include tablet {
                padding: 0;
                margin-top: 1rem;
                @include box__size (auto, 90%)
            }
    
            .hero__img {
                @include box__size(auto, 100%);
    
            }
    
        }

        @keyframes logo {
            0% {
                color: $color1;
            }
        
            20% {
                color: $color2;
            }
            
            40% {
                color: $color3;
            }
        
            60% {
                color: $color4;
            }
            
            80% {
                color: $color5;
            }
            
        }
    
    }
  
    article {
        @include flex (center, center);
        @include box__size(100vh, 100%);
        @include tablet {
            flex-direction: column;

        }
        @include tablet-rotate {
            @include box__size(100%, 100%);
            margin: 0 auto;
            padding: 1rem;
        }
        @include mobile {
            padding: 1rem;
            @include box__size(100%, 100%);
        }


        .article__left {
            @include box__size(auto, 30%);
            @include flex(center, center);
            flex-direction: column;
            background: $color1;
            padding: $p__box;
            border-top-left-radius: $p__border__r;
            border-bottom-left-radius: $p__border__r;
            @include tablet {
                border-top-right-radius: $p__border__r;
                border-bottom-left-radius: 0;
                @include box__size(auto, 60%);
            }
            @include tablet-rotate {
                padding: $p__content;
                
            }
            @include mobile {
                @include box__size(auto, 80%);
                padding: $p__content;
            }

            .article__title {
                padding: $p__content;
                font-weight: $f__weight;
                text-align: center;
                @include tablet-rotate {
                    padding: $p__content - 0.50;
                    font-size: $f__size + 0.30;
                }

            }

            .article__text {
                padding: $p__content;
                font-size: $f__size;
                text-align: center;
                @include tablet-rotate {
                    padding: 0;
                    font-size: $f__size - 0.10;
                }
                @include mobile {
                    padding: 0;
                }

            }

        }

        .article__right {
            @include box__size(auto, 70%);
            padding: $p__box;
            background: $color2;
            border-radius: $p__border__r;
            @include flex(center, center);
            @include tablet {
                padding: $p__content;
                @include box__size(auto, 90%);
                
            }
            @include tablet-rotate{
                padding: $p__content;
                transform: translateX(-5px);
                
            }
            @include mobile {
                @include box__size(auto, 95%);
                flex-wrap: wrap;
                
            }
            @include small-mobile {
                padding: 0.1rem;
                
            }
            
            
            video {
                @include box__size(auto, 100%);
                padding: $p__box;
                @include mobile {
                    padding: $p__content;
                }
            }

            .article__card {
                @include box__size(auto, 50%);
                padding: $p__box;
                @include tablet {
                    padding: $p__content;
                }
                @include tablet-rotate {
                    padding: $p__content;
                }
                @include mobile {
                    @include box__size(auto, 100%);

                }
                
                img {
                    @include box__size(auto, 100%);
                    border-radius: $p__border__r - 0.75;
                }

                .card__body {
                    background:#fff;
                    padding: $p__box;
                    margin: 0 1.5rem;
                    @include flex(center, center);
                    flex-direction: column;
                    border-radius: $p__border__r - 0.75;
                    transform: translateY(-20px);
                    @include tablet {
                        padding: $p__content;
                    }
                    @include tablet-rotate {
                        padding: $p__content;
                    }
                    @include small-mobile {
                        padding: 0.2rem 0.5rem;
                    }

                    .card__title {
                        font-size: $f__title - 0.30;
                        font-weight: $f__weight;
                        padding: 0 $p__content;
                        @include tablet {
                            padding: 0;
                        }
                        @include small-mobile {
                            font-size: $f__title - 0.60;
                        }

                    }

                    .card__text {
                        margin: 0.5rem;
                        font-size: $f__size - 0.10;
                        @include small-mobile {
                            font-size: $f__size - 0.20;
                        }
                    }

                    .card__button {
                        margin: 0.5rem;
                        @include boton--primary;
                        @include tablet {
                            padding: $p__content - 0.50;
                        }
                    }

                }
            }

            .article__team {
                @include box__size(auto, 50%);
                padding: $p__box - 0.70;
                @include flex(center, center);
                flex-direction: column;

                .img__thumbnail {
                    @include box__size(auto, 100%);
                    @include circle;
                }

                .team__description {
                    background-color: #fff;
                    padding: $p__content;
                    border-radius: $p__border__r - 0.75;
                    transform: translateY(-20px);
                    @include flex(center, center);
                    flex-direction: column;
                    @include small-mobile {
                        padding: 0.2rem 0.5rem;
                    }

                    .team__name {
                        font-size: $f__size - 0.10;
                        font-weight: $f__weight;
                        text-align: center;
                        @include small-mobile {
                            margin: 0;
                        }

                    }

                    .team__work {
                        font-size: $f__size - 0.20;
                        @include small-mobile {
                            margin: 0;
                        }

                    }
                    .team__contact {
                        text-align: center;
                    }


                }

            }

        }

    }

    .carousel {
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
        cursor: default;
        @include box__size(auto, 70%);
        @include tablet {
            @include box__size(auto, 100%);
        }
        @include small-mobile-rotate {
            margin-top: 0.9rem;
            padding: 0.2rem;
            
            h2 {
                font-size: $f__size + 0.30;
            }

        }
        @include mobile {
            h2 {
                font-size: $f__size;

            }
            
        }

        &:hover {
            
            h2 {
                @include link__active;

            }

        }

        .carousel--img {
            margin-bottom: 2rem;
            @include box__size(auto, 40%);

        }

        .bg__modal {
            background-color: #fff;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: $p__content - 0.50;
        }

        .carousel__oferta {
            color: grey;
            text-decoration: line-through;
            font-size: $f__size - 0.20;
        }

    }

    .catalogo {

        .container__post {
            display: flex;
            @include mobile {
                flex-direction: column;
            }

            input[type="radio"]{
                display: none;
            }

            [value="procesador"]:checked ~ .posts .post:not([data-category~="procesador"]){
                display: none;
            }
            [value="tarjeta-grafica"]:checked ~ .posts .post:not([data-category~="tarjeta-grafica"]){
                display: none;
            }
            [value="memoria-ram"]:checked ~ .posts .post:not([data-category~="memoria-ram"]){
                display: none;
            }
            [value="fuente-alimentacion"]:checked ~ .posts .post:not([data-category~="fuente-alimentacion"]){
                display: none;
            }
            [value="placa-base"]:checked ~ .posts .post:not([data-category~="placa-base"]){
                display: none;
            }

            .container__category {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                @include box__size(auto, 25%);
                @include tablet-rotate {
                    @include box__size(auto, 30%);
                    
                }
                @include tablet {
                    @include box__size(auto, 25%);
                    margin-left: 0.5rem;
                    
                }
                @include mobile-rotate {
                    margin-left: 1rem;
                }
                @include mobile {
                    @include box__size(auto, 100%);
                    margin-left: 3rem;

                }

                label {
                    cursor: pointer;
                    font-size: $f__size + 0.30;
                    @include mobile {
                        @include box__size(auto, 80vw);

                    }
                    @include tablet-rotate {
                        font-size: $f__size + 0.10;
                    }

                    &:hover {
                        @include link__active;

                    }

                }

            }

            .posts {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                @include box__size(auto, 75%);
                @include mobile {
                    grid-template-columns: 1fr;
                    @include box__size(auto, 100%);
                    gap: 0;
                }
                @include tablet-rotate {
                    grid-template-columns: repeat(3, 1fr);
                    @include box__size(auto, 70%);
                }
                @include tablet {
                    grid-template-columns: 1fr;
                    gap: 0;
                    @include box__size(auto, 100%);
                }

                .post {
                    padding: $p__content;
                    @include mobile {
                        display: flex;
                        padding: $p__content;
                        @include box__size(auto, 100%);
                    }
                    @include tablet {
                        display: flex;
                        @include box__size(auto, 100%);
                    }

                    .post__img {
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $color2;
                        padding: $p__content;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        @include box__size(auto, 100%);
                        @include mobile {
                            border-top-right-radius: 0;
                            border-bottom-left-radius: 10px;
                        }
                        @include tablet {
                            border-top-right-radius: 0;
                            border-bottom-left-radius: 10px;
                        }

                        img {
                            @include box__size(auto, 100%);
                        }

                    }

                    .post__description {
                        margin: 0;
                        padding: $p__content;
                        border: 3px solid $color2;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        @include box__size(auto, 100%);
                        @include mobile {
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 10px;
                        }
                        @include tablet {
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 10px;
                            transform: translateX(-3px);
                        }

                        h4 {
                            font-size: $f__size;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            font-weight: 700;
                            @include small-mobile {
                                font-size: $f__size - 0.20;

                            }

                        }

                        span {
                            font-size: $f__size * 2;
                            font-weight: 900;
                            @include small-mobile {
                                font-size: $f__size + 0.50;
                                
                            }
                        }

                        button {
                            margin-top: 1rem;
                            @include boton--primary;
                            @include small-mobile {
                                font-size: $f__size - 0.20;
                                
                            }

                        }

                    }

                }

            }
            
        }

        
    
    }

    .carrito {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: default;
        @include box__size(60vh, 80%);
        @include small-mobile-rotate {
            margin-top: 0.9rem;
            padding: 0.2rem;

        }    
        @include mobile {
            @include box__size(50vh, 90%)

        }

        .carrito__contador {
            font-size: $f__size * 3;
            font-weight: $f__weight;
            @include mobile {
                font-size: $f__size * 2;
            }
        }

        .carrito__text {
            font-size: $f__size * 1.5;
            @include mobile {
                font-size: $f__size - 0.10;
            }
        }

    }

    .user {
        margin: 0 auto;
        @include flex(center, center);
        flex-direction: column;
        cursor: default;
        @include box__size(100%, 80%);
        @include tablet-rotate {
            @include box__size(100%, 90%);
        }
        @include mobile-rotate {
            margin-top: 1rem;
            padding: 0.2rem;   
        }
        @include small-mobile-rotate {
            margin-top: 1rem;
            padding: 0.2rem;

        }    
        @include mobile {
            @include box__size(100%, 90%);
        }

        .form {
            border-radius: $p__border__r;
            @include box__size(auto, 50%);
            @include box__shadow;
            @include tablet-rotate {
                @include box__size(auto, 70%);

            }
            @include mobile-rotate {
                @include box__size(auto, 100%);

            }
            @include mobile {
                @include box__size(auto, 100%);

            }

            .form__title {
                margin: 0;
                text-align: center;
                font-size: $f__size + 0.80;
                background-color: $color2;
                border-top-left-radius: $p__border__r;
                border-top-right-radius: $p__border__r;
                padding: $p__box;
                font-weight: $f__weight;
                @include mobile-rotate {
                    padding: $p__content;

                }
                @include mobile {
                    font-size: $f__size + 0.40;
                    padding: $p__box - 0.50;
                }

            }

            .form__login {
                text-align: center;
                border: solid 2px $color2;
                padding: $p__box;
                border-bottom-left-radius: $p__border__r;
                border-bottom-right-radius: $p__border__r;
                @include flex(center, center);
                flex-direction: column;
                @include mobile-rotate {
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: $p__content;

                }
                @include mobile {
                    padding: $p__box - 0.50;
                    flex-direction: column;
                }

                p {
                    @include box__size(auto, 100%);
                    margin: 1rem 0;
                    @include mobile-rotate {
                        margin: 0.5rem 0;

                    }

                }

                .form__input {
                    margin: 0 auto;
                    outline: none;
                    border: none;
                    transition: 0.2s;
                    border-bottom: 1px solid grey;
                    padding: $p__content;
                    @include box__size(auto, 80%);
                    @include mobile-rotate {
                        @include box__size(auto, 40%);
                        padding: $p__content - 0.50;
                        font-size: $f__size - 0.10;
                        
                    }
                    @include mobile {
                        @include box__size(auto, 80%);

                    }

                    &:focus {
                        border-bottom: solid 3px $color2;

                    }

                }

                .form__boton {
                    margin: 0.2rem;
                    @include boton--primary;
                    @include box__size(auto, 12rem);

                }

                .form__link {
                    color: $color2;
                    @include mobile {
                        font-size: $f__size - 0.20;
                    }
                }

            }

            .form__register {
                @include flex(center, center);
                flex-direction: column;
                border: solid 2px $color2;
                padding: $p__box;
                border-bottom-left-radius: $p__border__r;
                border-bottom-right-radius: $p__border__r;
                @include mobile {
                    padding: $p__box - 0.50;
                }
                @include mobile-rotate {
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: $p__content;

                }

                .form__register__input {
                    outline: none;
                    border: none;
                    transition: 0.2s;
                    border-bottom: 1px solid grey;
                    margin: 1rem;
                    padding: $p__content - 0.50;
                    @include box__size(auto, 80%);
                    @include mobile-rotate {
                        @include box__size(auto, 40%);
                        margin: 0.5rem;

                    }
                    @include mobile {
                        @include box__size(auto, 80%);
                    }

                    &:focus {
                        border-bottom: solid 3px $color2;
                    }

                }

                .form__register__boton {
                    margin: 1rem auto;
                    @include boton--primary;
                    @include box__size(auto, 12rem);

                }


            }

        }


    }


}