main {
    margin: 0 auto;
    @include box(auto, 100vw);
    max-width: 1280px;
    
    // Banner

    .banner {
        @include flex(center, center);
        background-color: #fff;
        @include box(100vh, 100%);
        @include desktop {
            flex-direction: column;

        }
        @include tablet-rotate{
            flex-direction: row;

        }
        @include mobile-rotate {
            flex-direction: row;

        }
        @include mobile {
            flex-direction: column;

        }
    
        .banner__left {
            @include flex(center, start);
            flex-direction: column;
            padding: 4rem 2rem;
            @include box(100%, 50%);
            @include transition-left-to-right-low;
            @include desktop{
                @include box(40%, 100%);
                padding: 0;
                padding-left: 1rem;
                
            }
            @include mobile {
                padding-top: 1rem;

            }
            @include small-mobile {
                @include box(50%, 100%);
                padding-left: .5rem;
            }

            h1{
                
                span {
                    position: relative;
                    font-size: 5rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    color: $color1;
                    font-family: 'Roboto Mono', monospace;
                    @include small-mobile-rotate {
                        font-size: 2.5rem;
                    }
                    @include mobile{
                        font-size: 3rem;

                    }
                    @include small-mobile {
                        font-size: 2.5rem;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: #fff;
                        border-left: 2px solid #000;
                        height: 100%;
                        @include typewriter;     

                    }

                }

            }

    
            p {
                font-size: 1.3rem;
                font-weight: 500;
                cursor: default;
                text-align: start;
                @include box(auto, 100%);
                @include tablet {
                    font-size: 1.1rem;

                }
                @include mobile {
                    font-size: 1.20rem;
                    padding: 0;

                }
                @include small-mobile {
                    font-size: 1rem;
                    
                }

            }

            ul {
                list-style: none;
                padding: 0;
                margin-right: 1rem;
                @include box(auto, 100%);
                @include flex(start, center);
    
                li {

                    a {
                        text-decoration: none;
                        color: #fff;
                        @include box(3rem, 8rem);
                        margin-right: 1rem;
                        @include flex(center, center);
                        @include boton--primary;
                        @include small-mobile {
                            @include box(2.7rem, 7rem);

                        }
                    }

                }

            }
    

        }
    
        .banner__right {
            display: flex;
            align-items: center;
            margin: 0;
            @include box(100%, 50%);
            @include transition-left-to-right-fast;
            @include desktop{
                @include box(60%, 100%);

            }
            @include small-mobile {
                @include box(50%, 100%);
            }
    
            .banner__img {
                @include box(auto, 100%);
    
            }
    
        }


    
    }
  
    // Articles

    article {
        margin: 0 auto;
        @include flex (center, center);
        @include box(100vh, 100%);
        @include desktop {
            @include box(100%, 100%);
            flex-direction: column;
            margin: 0 auto;
            padding: 1rem;

        }


        .article__left {
            margin: 0 auto;
            @include box(auto, 30%);
            @include flex(center, center);
            flex-direction: column;
            background: $color1;
            padding: 2rem;
            border-top-left-radius: $radius-box;
            border-bottom-left-radius: $radius-box;
            cursor: default;
            color: #fff;
            @include desktop {
                @include box(auto, 70%);
                border-top-right-radius: $radius-box;
                border-bottom-left-radius: 0;
                padding: 2rem;
                
            }
            @include tablet {
                @include box(auto, 60%);
            }
            @include mobile {
                @include box(auto, 80%);
                padding: 1rem;
            }

            .article__title {
                margin: 0;
                padding: 1rem;
                font-weight: 700;
                font-size: 2rem;
                text-align: center;
                @include desktop {
                    padding: 0.50rem;
                }
                @include mobile {
                    font-size: 1.5rem;

                }
                @include small-mobile {
                    font-size: 1.2rem;

                }

            }

            .article__text {
                padding: 1rem;
                font-size: 1rem;
                text-align: center;
                text-align: start;
                @include desktop {
                    padding: 0;
                    font-size: .9rem;
                }
                @include mobile {
                    padding: 0;
                }
                @include small-mobile {
                    font-size: .9rem;
                }

            }

        }

        .article__right {
            margin: 0 auto;
            @include box(auto, 70%);
            padding: 2rem;
            background: $color2;
            border-radius: $radius-box;
            @include flex(center, center);
            @include tablet {
                padding: 1rem;
                @include box(auto, 90%);
                
            }
            @include desktop{
                @include box(auto, 90%);
                padding: 1rem;
                
            }
            @include small-mobile-rotate {
                flex-direction: column;
            }
            @include mobile {
                @include box(auto, 100%);
                flex-wrap: wrap;
                padding: 0;
                
            }
            @include small-mobile {
                padding: 0;
                
            }
            
            
            video {
                @include box(100%, 100%);
                padding: 2rem;
                @include mobile {
                    padding: 1rem;
                }
            }

            .article__card {
                @include box(auto, 50%);
                padding: 2rem;
                cursor: default;
                @include tablet {
                    padding: 1rem;

                }
                @include desktop {
                    padding: 1rem;

                }
                @include small-mobile-rotate {
                    @include box(auto, 90%);

                }
                @include mobile {
                    @include box(auto, 100%);

                }
                
                img {
                    @include box(auto, 100%);
                    border-radius: $radius-box;

                }

                .card__body {
                    background:#fff;
                    padding: 2rem;
                    margin: 0 1.5rem;
                    @include flex(center, center);
                    flex-direction: column;
                    border-radius: $radius-box;
                    transform: translateY(-20px);
                    @include tablet {
                        padding: 1rem;

                    }
                    @include desktop {
                        padding: 1rem;

                    }
                    @include small-mobile {
                        padding: 0.2rem 0.5rem;
                        
                    }

                    .card__title {
                        font-size: 1.3rem;
                        font-weight: 700;
                        color: $color4;
                        text-align: center;
                        @include box(3rem, 100%);
                        @include flex(center, center);
                        @include tablet {
                            padding: 0;
                        }
                        @include small-mobile {
                            font-size: 1rem;
                        }

                    }

                    .card__text {
                        padding: 1rem;
                        font-size: .9rem;
                        text-align: start;
                        @include small-mobile {
                            padding: 0 2rem;
                            font-size: .8rem;
                        }
                    }

                    .card__button {
                        margin-bottom: 1rem;
                        @include flex(center, center);
                        @include boton--primary;
                        @include box(4rem, 8rem);

                    }

                }
            }

            .card__profile {
                margin: 0 auto;
                @include box(20rem, 30%);
                border-radius: $radius-box;
                background: url("../multimedia/img-4.jpg") center no-repeat;
                background-size: 22rem;
                transition: .8s;
                padding: 10px;
                @include tablet {
                    @include box(15rem, 30%);
                    background-size: 15rem;

                }
                @include mobile {
                    @include box(20rem, 100%);
                    background-size: 25rem;
                    margin: 1rem 2rem;

                }
                @include small-mobile {
                    @include box(15rem, 100%);
                    background-size: 20rem;

                }
                

                &:hover {
                    background-size: 25rem;
                    @include tablet {
                        background-size: 20rem;

                    }
                    @include mobile {
                        background-size: 30rem;

                    }
                    @include small-mobile {
                        background-size: 25rem;

                    }

                }

                .card__border {
                    @include box(100%, 100%);
                    border: solid 2px white;
                    border-radius: $radius-box;
                    opacity: 0;
                    transition: .8s;
                    @include flex(start, start);
                    flex-direction: column;

                    &:hover {
                        opacity: 1;

                    }

                    h5 {
                        @include box(4rem, 50%);
                        padding:  2px 8px;
                        font-weight: 700;
                        font-size: 1.5rem;
                        color: white;
                        cursor: default;
                        @include tablet {
                            @include box(3rem, 50%);
                            font-size: 1.2rem;
                        }
                        @include mobile {
                            @include box(4rem, 50%);
                            font-size: 1.5rem;

                        }

                    }

                    p {
                        padding: 0 8px;
                        font-weight: 600;
                        color: #fff;
                        cursor: default;
                        font-size: 1rem;
                        @include tablet {
                            font-size: 0.8rem;
                        }
                        @include mobile {
                            font-size: 1rem;
                        }

                    }

                }

                .icons {
                    @include flex(space-evenly, start);
                    flex-direction: column;

                    a {
                        padding: 0 8px;
                        color: #fff;
                        font-size: 1.5rem;
                        text-decoration: none;
                        transition: .5s;

                        &:hover {
                            &:nth-child(1){
                                color: #3b5998;
                            }
                            &:nth-child(2){
                                color: #0e76a8;
                            }
                            &:nth-child(3){
                                color: #C13584;
                            }
                            &:nth-child(4){
                                color: #00acee;
                            }
    
                        }
                        

                    }

                }
                
            }

            .questions {
                margin: 2rem;
                padding: 2rem;
                @include box(100%, auto);
                @include flex(center, center);
                flex-direction: column;
                background-color: #fff;
                border-radius: $radius-box;
                @include mobile {
                    margin: 2rem 1rem;
                    padding: 1.5rem 1rem;
                }
                @include small-mobile {
                    padding: 1rem;
                }


                details {
                    @include box(auto, 100%);
                    text-align: center;
                    
                    summary {
                        outline: none;
                        color: $color4;
                        font-size: 1.5rem;
                        font-weight: 700;
                        @include mobile {
                            font-size: 1rem;
                        }

                    }

                    p {
                        margin-top: 1rem;
                        cursor: default;
                        @include mobile {
                            font-size: .8rem;
                        }
                    }

                }

            }

        }

    }

    // Tienda

    
    section {
        @include box(auto, 100%);
        @include flex(center, center);
        flex-direction: column;
        @include desktop{
            @include box(100%,100%);
        }
        @include tablet {
            justify-content: center;

        }
    
        // Productos destacados
    
        .carousel {
            margin: 0 auto;
            margin-bottom: 1rem;
            padding: 0;
            text-align: center;
            cursor: default;
            @include box(100%, 70%);
            @include tablet{
                @include box(100%, 100%);
            }

            &:hover {
                h2 {
                    color: $color4;
                }

            }

            .carousel-item {
                @include box(20rem, 100%);

                
                .post__modal {
                    @include boton--modal;
                    @include box(auto, 100%);

                    img {
                        max-width: 300px;

                    }

                }
                .modal-body {
                    
                    .modal__description {
                        @include flex(center, center);
                        @include small-mobile {
                            flex-direction: column;

                        }

                        img {
                            @include box(100%, 50%);
                            
                        }

                        .modal__date {
                            padding: 1rem;
                            @include box(auto, 50%);
                            @include small-mobile {
                                @include box(auto, 100%);

                            }

                            .star-rating {
                                color: #EBEA17;
                                padding: 0;
                                margin: 0.5rem 0;
                            }

                            .price {
                                font-size: 2rem;
                                font-weight: 700;
                                padding: 0;
                                margin: 0;
                            }

                            select {
                                border: 2px solid $color4;
                                border-radius: $radius-boton;
                                outline: none;
                                font-size: 1rem;
                                @include mobile {
                                    font-size: .8rem;

                                }

                            }

                            ul {
                                list-style: none;
                                padding: 0;
                                margin: 1rem 0;
                                
                                li {
                                    color: #22D658;

                                    i {
                                        margin: 3px;

                                    }

                                    span {
                                        font-size: .8rem;
                                        @include mobile {
                                            font-size: .6rem;

                                        }

                                    }

                                }

                            }

                            .description {
                                font-size: .9rem;
                                @include box(auto, 100%);

                            }


                        }

                    }

                }

                .modal__btn {
                    @include boton--primary;

                }

            }

            img {
                max-width: 300px;

            }

    
        }

    
        // Info compra
    
        .shopping__info {
            @include box(auto, 100%);
            margin: 1rem 0;
            padding: 0;
    
            ul {
                margin: 0 auto;
                padding: 0;
                list-style: none;
                @include flex(space-evenly, center);
    
                li {
                    @include flex(center, center);
                    flex-direction: column;
                    
                    h4 {
                        background-color: $color1;
                        margin: 0;
                        color: #fff;
                        @include box(4rem, 6rem);
                        @include flex(center, center);
                        border-top-left-radius: $radius-box;
                        border-top-right-radius: $radius-box;
                        @include small-mobile-rotate {
                            @include box(3rem, 4rem);
                        }
                        @include mobile {
                            @include box(3rem, 4rem);
                        }
                        @include small-mobile {
                            @include box(3rem, 3.5rem)
                        }

                        i {
                            transition: all .5s ease;

                            &:hover {
                                transform: rotateY(360deg);

                            }

                        }
    
                    }
    
                    p {
                        margin: 0 auto;
                        padding: 10px;
                        background-color: $color2;
                        border-radius: $radius-box;
                        cursor: default;
                        @include box(6rem, 12rem);
                        @include flex(center, center);
                        text-align: center;
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 700;
                        @include small-mobile-rotate {
                            @include box(6rem, 8rem);

                        }
                        @include mobile {
                            @include box(7rem, 6.5rem);
    
                        }
                        @include small-mobile {
                            @include box(6rem, 5.5rem);
                            font-size: .8rem;

                        }
    
                    }
    
                }
    
            }
    
        }
        
    }

    // Catalogo

    .catalogo {
        @include box(auto, 100%);
        margin: 0;
        padding: 0;

        .container__post {
            @include flex(center, center);
            flex-wrap: wrap;
            margin: 0;
            padding: 0;


            input[type="radio"]{
                display: none;
            }

            [value="procesador"]:checked ~ .posts .post:not([data-category~="procesador"]){
                display: none;
            }
            [value="tarjeta-grafica"]:checked ~ .posts .post:not([data-category~="tarjeta-grafica"]){
                display: none;
            }
            [value="memoria-ram"]:checked ~ .posts .post:not([data-category~="memoria-ram"]){
                display: none;
            }
            [value="fuente-alimentacion"]:checked ~ .posts .post:not([data-category~="fuente-alimentacion"]){
                display: none;
            }
            [value="placa-base"]:checked ~ .posts .post:not([data-category~="placa-base"]){
                display: none;
            }
            [value="teclado"]:checked ~ .posts .post:not([data-category~="teclado"]){
                display: none;
            }
            [value="mouse"]:checked ~ .posts .post:not([data-category~="mouse"]){
                display: none;
            }
            [value="auricular"]:checked ~ .posts .post:not([data-category~="auricular"]){
                display: none;
            }

            nav {
                @include box(6rem, 100%);
                @include flex(space-evenly, start);
                background-color: #fff;
                position: sticky;
                top: 0;
                left: 0;
                z-index: 997;
                @include tablet {
                    justify-content: start;
                }
                @include mobile {
                    flex-direction: column;
                    @include box(8rem, 100%);

                }
                @include small-mobile-rotate {
                    justify-content: start;
                }

                // Barra de busqueda
            
                .search__section {
                    @include box(6rem, 50%);
                    @include flex(center, center);
                    @include mobile {
                        @include box(5rem, 100%);

                    }
                    @include small-mobile-rotate {
                        @include box(100%, 40%)
                    }

                    form {
                        @include box(auto, 100%);
                        background-color: #fff;
                        
                        fieldset {
                            @include box(auto, 25rem);
                            padding: 5px;
                            margin: 0 auto;
                            border: 3px solid $color4;
                            border-radius: $radius-boton;
                            @include flex(center, center);
                            @include tablet {
                                @include box(auto, 20rem);

                            }
                            @include mobile {
                                margin: 0;
                                margin-left: 10px;
                                margin-top: 1rem;
                                @include box(3rem, calc(100% - 7rem));
        
                            }
                            @include small-mobile{
                                @include box(3rem, calc(100% - 5rem));
    
                            }
                            @include small-mobile-rotate {
                                @include box(3rem, 12rem);
                            }

                            
                            input {
                                @include box (auto, calc(100% - 2rem));
                                outline: none;
                                border: none;
                                font-size: 1rem - 0.1;

                            }
                            
                            button {
                                @include box(2rem, 2rem);
                                margin: 0;
                                border: none;
                                background-color: $color4;
                                border-radius: $radius-boton;
                                padding: 5px;
                                margin-left: 5px;

                                &:hover {
                                    opacity: 0.7;

                                }

                                i {
                                    color: #fff;

                                }

                            }
                            
                        }

                    }
    
                }
    
                // Categorias

                #category {
                    display: none;

                    &:checked ~ label {
                        color: $color4;
                    }

                    &:checked ~ .container__category {
                        display: block;
                        @include small-mobile-rotate {
                            left: 0;
                            @include box(auto, 100vw);
                            display: flex;

                        }
                        @include small-mobile {
                            flex-direction: column;
                        }

                    }

                }

                .category__menu {
                    @include flex(center, center);
                    @include box(6rem, 50%);
                    @include box(6rem, 15rem);
                    margin: 0 auto;
                    cursor: pointer;
                    font-size: 1.5rem;
                    font-weight: 700;
                    @include tablet {
                        @include box(6rem, 40%);
                        justify-content: start;
                        margin: 0;

                    }
                    @include mobile {
                        @include box(auto, 100%);
                        margin-left: .5rem;

                    }
                    @include small-mobile-rotate {
                        @include box(100%, 60%);

                    }
                    @include small-mobile {
                        @include box(100%, 100%);
                    }

                    i {
                        margin: 0 8px;

                    }

                    &:hover {
                        color: $color4;

                    }

                }
    
                .container__category {
                    display: none;
                    position: absolute;
                    top: 6rem;
                    right: 0;
                    z-index: 998;
                    @include box(auto, 50%);
                    background-color: #fff;
                    @include mobile {
                        top: 8rem;
                        left: 0;
                        @include box(auto, 100vw);

                    }

                    .category__all {
                        cursor: pointer;
                        font-size: 1.5rem;
                        font-weight: 700;
                        padding: .5rem 1rem;     
                        @include small-mobile-rotate {
                            font-size: 1.2rem;
                            @include box(auto, 20%);

                        }
                        @include small-mobile {
                            @include box(auto, 100%);

                        }

                        &:hover {
                            color: $color4;

                        }
                    }

                    details {
                        @include flex(center, center);
                        flex-direction: column;
                        padding: .5rem 1rem;
                        @include box(auto, 100%);
                        @include small-mobile-rotate {
                            @include box(auto, 40%);
                            
                        }
                        @include small-mobile {
                            @include box(auto, 100%);
                            
                        }

                        summary {
                            font-size: 1.5rem;
                            font-weight: 700;
                            @include small-mobile-rotate {
                                font-size: 1.2rem;
                            }

                        }

                        label {
                            cursor: pointer;
                            padding: .5rem;
                            @include small-mobile-rotate {
                                padding: 0;
                            }

                            &:hover {
                                color: $color4;

                            }

                        }

                    }

                    details[open] {
                        summary {
                            color: $color4;
                        }
                    }
    
                }

            }


            // Productos

            .posts {
                margin: 0;
                padding: 0;
                max-width: 1280px;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                @include box(auto, 100%);
                @include desktop {
                    grid-template-columns: repeat(3, 1fr);
                    @include box(auto, 100%);

                }
                @include tablet {
                    grid-template-columns: repeat(2, 1fr);

                }
                @include mobile {
                    grid-template-columns: 1fr;

                }
                @include small-mobile-rotate {
                    grid-template-columns: 1fr;

                }

                .filter__section {
                    grid-column: 1/6;
                    padding: 1rem;
                    @include flex(space-evenly, center);
                    @include desktop {
                        grid-column: 1/4;

                    }
                    @include tablet {
                        grid-column: 1/3;

                    }
                    @include mobile {
                        grid-column: 1/2;

                    }
                    @include small-mobile-rotate {
                        grid-column: 1/2;
                    }

                    p {
                        margin: 0;
                        text-align: center;
                        @include flex(center, center);
                        @include box(4rem, 50%);

                    }

                    .filter {
                        @include flex(center, center);
                        @include box(4rem, 50%);
                        @include tablet {
                            flex-direction: column;
                        }

                        span {
                            @include flex(center, center);
                            margin: 5px;
                            @include mobile {
                                margin: 0;
        
                            }
                        }

                        i {
                            margin: 5px;
                            @include mobile {
                                margin: 0;
        
                            }

                        }

                        select {
                            border: 2px solid $color4;
                            border-radius: $radius-boton;
                            outline: none;
    
                        }

                    }

                }

                .post {
                    margin: 0 auto;
                    padding: 1rem;
                    cursor: default;
                    @include box(auto, 16rem);
                    @include desktop {
                        @include box(auto, 18rem);
                    }
                    @include tablet {
                        @include box(auto, 100%);
                        display: flex;

                    }

                    .post__img {
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $color2;
                        padding: 1rem;
                        position: relative;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        @include box(auto, 100%);
                        @include tablet {
                            border-top-right-radius: 0;
                            border-bottom-left-radius: 10px;
                        }

                        
                        .post__modal {
                            @include boton--modal;
                            
                            img {
                                @include box(auto, 100%);
                                margin: 0 auto;
                                padding: 0.5rem;
                                transition: all 0.3s;
                                @include mobile {
                                    padding: 0;

                                }

                                &:hover {
                                    padding: 0;

                                }

                            }

                        }
                        .modal-body {
                            
                            .modal__description {
                                @include flex(center, center);
                                @include small-mobile {
                                    flex-direction: column;

                                }

                                img {
                                    @include box(100%, 50%);
                                    
                                }

                                .modal__date {
                                    padding: 1rem;
                                    @include box(auto, 50%);
                                    @include small-mobile {
                                        @include box(auto, 100%);

                                    }

                                    .star-rating {
                                        color: #EBEA17;
                                        padding: 0;
                                        margin: 0.5rem 0;
                                    }

                                    .price {
                                        font-size: 1rem * 2;
                                        font-weight: 700;
                                        padding: 0;
                                        margin: 0;
                                    }

                                    select {
                                        border: 2px solid $color4;
                                        border-radius: 4px;
                                        outline: none;
                                        font-size: 1rem;
                                        @include mobile {
                                            font-size: 1rem - 0.20;

                                        }

                                    }

                                    ul {
                                        list-style: none;
                                        padding: 0;
                                        margin: 1rem 0;
                                        
                                        li {
                                            color: #22D658;

                                            i {
                                                margin: 3px;

                                            }

                                            span {
                                                font-size: 1rem - 0.20;
                                                @include mobile {
                                                    font-size: 1rem - 0.40;

                                                }

                                            }

                                        }

                                    }

                                    .description {
                                        font-size: 1rem - 0.10;
                                        @include box(auto, 100%);

                                    }


                                }
 
                            }

                        }

                        .modal__btn {
                            @include boton--primary;

                        }


                    }

                    .new {
                        &::before {
                            content: 'NUEVO';
                            position: absolute;
                            padding: 10px;
                            background-color: #22D658;
                            top: 1rem;
                            left: 0;
                            color: #fff;
                            border-top-right-radius: $radius-item;
                            border-bottom-right-radius: $radius-item;
                            @include tablet {
                                left: .5rem;

                            }
    
                        }
                    }

                    .post__description {
                        margin: 0;
                        padding: 1rem;
                        border: 3px solid $color2;
                        border-bottom-left-radius: $radius-item;
                        border-bottom-right-radius: $radius-item;
                        @include flex(center, center);
                        flex-direction: column;
                        @include box(auto, 100%);
                        @include tablet {
                            border-bottom-left-radius: 0;
                            border-top-right-radius: $radius-item;
                        }

                        h4 {
                            margin: 0 auto;
                            padding: 0 1rem;
                            font-size: 1.2rem;
                            text-align: center;
                            font-weight: 600;
                            @include flex(center, center);
                            @include box(3.2rem, 100%);
                            @include tablet {
                                font-size: 1rem;
                                padding: 0;
                            }
                            @include small-mobile {
                                font-size: .8rem;

                            }

                        }

                        span {
                            margin: .7rem 0;
                            font-size: 2rem;
                            font-weight: 900;
                            @include tablet {
                                font-size: 1.7rem;
                            }
                            @include small-mobile {
                                font-size: 1.5rem;
                                
                            }
                        }

                        .post__btn {
                            @include box(4rem, 8rem);
                            @include flex(center, center);
                            @include boton--primary;
                            @include tablet {
                                @include box(4rem, 7rem);
                                
                            }
                            @include small-mobile {
                                @include box(3.5rem, 6.5rem);
                                font-size: .8rem;
                                 
                            }

                        }

                    }

                }

            }
            
        }

        
    
    }

    // Carrito

    .shopping-cart {
        @include box(100vh, 100%);
        padding: 2rem;
        @include tablet {
            padding: 1.5rem 2rem;
        }
        @include mobile {
            padding: .5rem;

        }

        h2 {
            color: $color4;
            font-weight: 800;

        }

        table {
            margin-top: 6rem;
            @include box(auto, 100%);

            thead {
                @include box(3rem, 100%);

                tr {
                    th {
                        text-align: center;
                        font-size: 1.5rem;
                        padding: 10px;
                        @include mobile {
                            font-size: 1rem;
                            
                        }
                    }
                    th:nth-child(1) {
                        @include box(100%, 60%);
                    }
                    th:nth-child(2) {
                        @include box(100%, 20%);
                    }
                    th:nth-child(3) {
                        @include box(100%, 20%);
                    }

                }

            }

        }

    }

    // Usuario

    .user {
        margin: 0 auto;
        @include flex(center, center);
        flex-direction: column;
        cursor: default;
        @include box(100vh, 100%);

        form {
            padding: 5rem 1rem;
            border-radius: $radius-box;
            @include box(100%, 50%);
            @include desktop {
                @include box(100%, 70%);

            }
            @include mobile {
                @include box(100%, 100%);
                padding-top: 5rem;

            }
            @include small-mobile-rotate {
                padding-top: 1rem;
                @include box(100%, 100%);
                
            }
            @include small-mobile {
                padding-top: 5rem;
            }

            legend {
                margin: 0;
                text-align: center;
                font-size: 2rem;
                background-color: $color2;
                border-top-left-radius: $radius-box;
                border-top-right-radius: $radius-box;
                padding: 2rem;
                font-weight: 800;
                color: #fff;
                @include mobile {
                    font-size: 1.4rem;
                    padding: 1.5rem;
                }
                @include small-mobile-rotate {
                    padding: .5rem;
                }
                @include small-mobile {
                    padding: 1rem;
                }

            }

            .form__user {
                text-align: center;
                border: solid 2px $color2;
                padding: 1rem;
                border-bottom-left-radius: $radius-box;
                border-bottom-right-radius: $radius-box;
                @include flex(center, center);
                flex-direction: column;
                @include box(auto, 100%);
                @include small-mobile-rotate {
                    flex-direction: row;
                    padding: .5rem;

                }
                @include mobile {
                    padding: .5rem;
                    flex-direction: column;

                }

                p {
                    @include box(auto, 100%);
                    margin: .8rem 0;
                    font-size: .9rem;
                    @include small-mobile-rotate {
                        margin: .4rem 0;
                    }
                    
                    a {
                        text-decoration: none;
                        color: $color1;

                        &:hover {
                            text-decoration: underline;

                        }

                    }

                }

                .login__with {
                    @include flex(center, center);
                    flex-direction: column;
                    @include box(auto, 100%);
                    @include small-mobile-rotate {
                        @include box(auto, 30%);
                    }
                    @include small-mobile {
                        @include box(auto, 100%);

                    }
                    
                    button {
                        @include box(3rem, 17rem);
                        @include boton--secondary;
                        @include flex(space-between, center);
                        padding: 0 1rem;
                        margin: .4rem auto;
                        text-align: center;
                        font-size: 1rem;
                        @include small-mobile-rotate {
                            @include box(4.5rem, 10rem);
                            justify-content: center;
                            flex-direction: column;
                            font-size: .8rem;
                            margin: 0;
                            margin-bottom: .2rem;
 

                        }
                        @include mobile {
                            @include box(3.5rem, 12rem);
                            justify-content: space-between;
                            padding: 0 .5rem;

                        }
                        @include small-mobile {
                            flex-direction: row;
                        }

                        span {
                            padding: 0 .8rem;

                        }
                        
                    }

                    button:nth-child(1) {
                        background-color: #4267b2;
                    }

                    button:nth-child(2) {
                        background-color: #DB4437;
                    }
                    
                }

                .login__user {
                    @include flex(center, center);
                    flex-direction: column;
                    @include box(100%, 100%);
                    padding: 0 .5rem;
                    @include small-mobile {
                        @include box(100%, 100%);
                    }
                    @include small-mobile-rotate {
                        @include box(100%, 70%);
                        padding: 0;

                    }

                    .form__inputs {
                        @include input--enter;
                        @include box(100%, 70%);
                        @include small-mobile {
                            @include box(100%, 100%);

                        }
    
                    }

                    button {
                        @include boton--primary;
                        @include flex(center, center);
                        @include box(3rem, 12rem);
                        @include small-mobile-rotate {
                            @include box(2.5rem, 10rem);
                        }

                        i {
                            transition: all .5s;
                            display: none;
                            margin: 0 5px;
                        }
                        
                        &:hover {
                            i {
                                display: block;

                            }

                        }

                    }

                }

            }

        }

    }

    // Mis compras

    .my-shopping {
        @include box(100vh, 100%);
        padding: 2rem;
        @include tablet {
            padding: 1.5rem 2rem;
        }
        @include mobile {
            padding: .5rem;
        }

        h2 {
            color: $color3;
            font-weight: 800;

        }

        table {
            margin-top: 6rem;
            @include box(auto, 100%);

            thead {
                @include box(3rem, 100%);

                tr {
                    th {
                        text-align: center;
                        font-size: 1.5rem;
                        padding: 10px;
                        @include mobile {
                            font-size: 1rem;
                            
                        }
                    }
                    th:nth-child(1) {
                        @include box(100%, 70%);
                    }
                    th:nth-child(2) {
                        @include box(100%, 30%);
                    }

                }

            }

        }

    }

    // Notificaciones

    .notifications {
        @include box(100vh, 100%);
        padding: 2rem;
        @include tablet {
            padding: 1.5rem 2rem;
        }
        @include mobile {
            padding: .5rem;
        }

        .notification__top {
            cursor: default;
            background-color: #fff;
            @include flex(start, center);
            @include box(4rem, 100%);
            position: relative;

            h2 {
                color: $color4;
                font-weight: 800;

            }

            #notification__config {
                display: none;

                &:checked ~ ul {
                    display: block;

                }

            }

            .notification__boton {

                i {
                    font-size: 2rem;
                    color: $color3;
                    cursor: pointer;
                    margin: 0 10px;

                }

            }

            

            ul {
                list-style: none;
                position: absolute;
                top: 4rem;
                left: 0;
                z-index: 999;
                background-color: #fff;
                padding: 1rem;
                @include box(auto, 30%);
                display: none;
                @include mobile {
                    @include box(auto, 70%);
                    padding: 0;
                    padding-left: .5rem;
                    padding-right: 1rem;
                }
                
                li {
                    background: #fff;
                    @include box(3rem, 100%);
                    @include flex(space-between, center);

                    label {
                        cursor: pointer;

                    }

                }

            }

        }

        .notification__bottom {
            @include box(100%, 100%);
            
            table {
                @include box(auto, 100%);

                thead {
                    @include box(2rem, 100%);


                    tr {

                        th {
                            padding: 10px;
                            text-align: center;
                            @include mobile {
                                font-size: 1rem;
                            }
                        }

                        th:nth-child(1){
                            @include box(auto, 70%);
                        }
                        th:nth-child(2){
                            @include box(auto, 15%);
                        }
                        th:nth-child(2){
                            @include box(auto, 15%);
                        }

                    }

                }
                
            }

        }

    }

}