// Box

@mixin box__size($h, $w) {
    height: $h;
    width: $w;
    
}

@mixin flex ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;

}


@mixin box__shadow {
    box-shadow: 0px 2px 5px 0px grey;
    
}

// Botones

@mixin boton--primary {
    text-decoration: none;
    border: none;
    color: white;
    background: $color5;
    border-bottom: 3px solid $color4;
    padding: $p__content - 0.40;
    border-radius: 6px;
    font-size: $f__size + 0.10;
    font-weight: $f__weight;
    text-align: center;
    box-shadow: 1px 2px 5px grey;

    &:hover {
        opacity: 0.7;
    }

}

@mixin boton--secondary {
    @include box__size(50px, 150px);
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 0.2rem;
    padding: 0;
    box-shadow: 1px 2px 3px grey;

    &:hover {
        opacity: 0.7;

    }

}

@mixin boton--modal {
    border: none;
    background: none;

}

@mixin link {
    text-decoration: none;
    color: $color4;

    &:hover {
        text-decoration: underline;
    }

}

@mixin link__active{
    text-transform: uppercase;
    margin-left: 0.8rem;

}

// Input

@mixin input--enter {
    margin: 3px auto;
    padding: 10px;
    border: none;
    border-radius: 6px;
    border-bottom: solid 2px grey;
    outline: none;
    font-size: $f__size - 0.10;
    color: #000;

    &:focus {
        border-bottom: solid 2px $color2;
        font-weight: $f__weight + 100;

    }
    
}


@mixin circle {
    border-radius: 50%;
    
}

// Animaciones 

@mixin transition-left-to-right-low {
    animation: transition1 1s;

    @keyframes transition1 {
        0% {
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
        }

    }

}

@mixin transition-left-to-right-fast {
    animation: transition2 .7s;

    @keyframes transition2 {
        0% {
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
        }

    }

}

@mixin transition-right-to-left-low {
    animation: transition3 1.2s;
    
    @keyframes transition3{
        0% {
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0);
        }

    }

}

@mixin transition-right-to-left-fast {
    animation: transition3 .8s;

    @keyframes transition3{
        0% {
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0);
        }

    }

}

@mixin gradient {
    background: linear-gradient(-45deg, $color4, $color5, $color7, $color8, $color3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } 

}

// Medias

@mixin small-mobile-rotate {
    @media  only screen and (max-height:320px) {
        @content;
    }
}

@mixin small-mobile {
    @media  only screen and (max-width:320px) {
        @content;
    }
}
@mixin mobile {
    @media  only screen and (max-width:414px) {
        @content;
    }
}

@mixin mobile-rotate{
    @media  only screen and (max-height:736px) {
        @content;
    }
}

@mixin tablet {
    @media  only screen and (max-width:768px) {
        @content;
    }
}

@mixin tablet-rotate {
    @media  only screen and (max-height:768px) {
        @content;
    }
}

@mixin desktop {
    @media  only screen and (max-width:1024px) {
        @content;
    }
}
