@mixin box__size($h, $w) {
    height: $h;
    width: $w;
    
}

@mixin flex ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;

}


@mixin box__shadow {
    box-shadow: 5px 5px 10px grey;
    
}

@mixin boton--primary {
    text-decoration: none;
    color: white;
    background: $color5;
    border-bottom: 4px solid $color4;
    padding: $p__content - 0.40;
    border-radius: 6px;
    font-size: $f__size + 0.10;
    font-weight: $f__weight;
    text-align: center;
}

@mixin link__active{
    text-decoration: underline;
    text-transform: uppercase;

}

@mixin circle {
    border-radius: 50%;
    
}

@mixin mobile {
    @media  only screen and (max-width:414px) {
        @content;
    }
}

@mixin tablet {
    @media  only screen and (max-width:768px) {
        @content;
    }
}

@mixin article {
    background-color: $color1;
    padding: $p__box;

}

@mixin article__title {
    font-size: $f__title;
    font-weight: $f__weight;
    padding: $p__content 0;
    margin: 0;
    text-align: center;

}

@mixin article__text {
    font-size: $f__text;

}

@mixin article__title__mobile {
    font-size: $f__title - 0.10;

}

@mixin article__text__mobile {
    font-size: $f__size - 0.20;

}