$color1: #94EAFF;
$color2: #1C89E8;
$color3: #5684FF;
$color4: #7878EB;
$color5: #CFBDFF;
$color6: #5BA7FF;

$p__border__r: 18px;
$p__box: 2rem;
$p__content: 1rem;

$f__size: 1rem;
$f__weight: 700;

$f__title: 1.8rem;
$f__text: 1.1rem;